.box{
    width: 250px;
    height: 200px;
    border: 5px solid red;
    background-color: red;
    color: white;
    font-size: 50px;
    padding: auto;
    box-sizing: border-box;
    text-align: center;
}
.main{
    width: 1340px;
    height: 350px;
    border: 5px solid white;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.menu{
    width: 1340px;
    border: solid white;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    list-style: none;
}
.h{
    text-align: center;
}